/*
    TABLE OF CONTENTS
    1. GENERAL STYLES
    2. HEADER
    3. HERO IMAGE CONTAINER & CONTENT
    4. MAIN CONTENT
    5. SIDEBAR
    6. FOOTER
    7. MEDIA QUERIES
*/




/*
1. GENERAL STYLES 
--------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-weight: 300;
}

#page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}




/*
2. HEADER   
--------------------------------------*/


/* sets the size and position quality of header container */
header {
    width: 100%;
    max-width: 1305px;
    position: relative;
}

/* sets the typography of header h2 */
header h2 {
    padding-left: .5rem;

    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.85rem;
    color: #050505;
}



nav {
    display: inline-block
}

/* sets the size, typography, and position of the nav container within the header */
header nav {
    padding-top: 28px;
    text-transform: uppercase;
    font-size: .90rem;
    letter-spacing: 0px;
    position: relative;
}

/* aligns the 1st level of list items within the mav */
header li {
    display: inline-block;
    padding: .5rem;
}

/* the following a 3 selectors style the nav links and their various states */
nav a {
    color: #7F7F7F;
    font-weight: 500;
}

nav a:hover {
    color: #F78A36;
}

nav a:active {
    color: #AD1022;
}

/* this contains information for the first of two hidden drop menus */
#hidden-menu-setup {
    display: none;
    width: 495px;
    line-height: .9;
    position: absolute;
    left: 65px;
    box-sizing: border-box;
    padding: 7px;
    margin-top: 9px;
    outline: 1px solid rgba(179, 179, 179, 0.1);
    outline-offset: 5px;
    z-index: 1;
    background-color: white;
}

/* triggers the hidden nav bar to appear */
#hidden-menu-trigger-setup:hover #hidden-menu-setup {
    display: block;

}

/* this contains information for the second of two hidden drop menus */
#hidden-menu-planets {
    display: none;
    width: 110px;
    line-height: .9;
    position: absolute;
    left: 320px;
    box-sizing: border-box;
    padding: 7px;
    margin-top: 9px;
    border: 1px solid rgba(179, 179, 179, 0.1);
    z-index: 1;
    background-color: white;
}

/* triggers the hidden nav bar to appear */
#hidden-menu-trigger-planets:hover #hidden-menu-planets {
    display: block;
}



/* positioning for social media symbols */
#social-media-header {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* sizing and color for social media symbols */
.fab, .far {
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px 3px;
    color: #454545;
}

/* causes all social media icons to gain opacity when anyone of them are hovered over */
#social-media-header:hover > a {
    opacity: 0.5;
    transition-duration: .3s;
}

/* causes specific social media icon that is hovered over to lose all opacity and return to it's normal color */
#social-media-header:hover > a:hover {
    opacity: 1.0;
    transition-duration: .3s;
}




/*
3. HERO IMAGE CONTAINER & CONTENT
--------------------------------------*/



/* sets the hero image container's size, position, text-align, margin, flex,
and details about the background img */
#hero-image-container {
    width: 100%;
    height: 626px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../img/Moon1.jpg");
    background-color: grey;
    background-size: cover;
    background-position: center;
    opacity: .95;
}



/* sets color/uppercase for text above hero img */
#mission-statement {
    color: white;
    text-transform: uppercase;
}

/* mission statement header typography */
#mission-statement h1 {
    font-size: 2.95rem;
    font-weight: 100;
}

#mission-statement .smaller-mission-text {
    font-size: 2.7rem;
}

/* mission statement paragraph typography */
#mission-statement p {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 2.1;
}




/*
DIV CONTAINING MAIN-CONTENT & SIDEBAR
--------------------------------------*/



/* creates size and position of content-&-sidebar container */
#content-and-sidebar-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 26px; 
}




/*
4. MAIN-CONTENT
--------------------------------------*/



/* creates size restrictions for content container */
section {
    width: 80%;
    max-width: 1010px;
    display: inline-block;
    border-right-width: 270px;
}



/* styles quote right beneath hero image */
section #author-quote {
    padding-top: 60px;
    text-align: center;
    font-size: 1.37rem;
    color: #7F7F7F;
}

/* styles quotee beneath quote */
section #quotee {
    text-align: center;
    font-size: 1.37rem;
    color: #7F7F7F;
    padding: 30px 0px;
}



/* creates the styles for the class involving horizontal rule, 
these will be used to space articles within the main content */
section .horizontal-rule {
    color: #7F7F7F;
    opacity: .4;
    padding: 30px 0px;
}



/* styles the word featured that is above the image of the featured
article */
section .featured {
    margin-bottom: 17px;
    color: #7F7F7F;
    font-size: .8rem;
}

/* styles featured article image to fit into the section "main content"
container */
section .featured-article-img {
    width: 100%;
    object-fit: cover;
}

/* aligns link-title of featured aritcle to center of contianer */
section .title-of-article {
    text-align: center;
}

/* styles link-title to featured article */
section .title-of-article a {
    color: #050505;
    font-size: 1.7rem;
}

section .title-of-article a:hover {
    color: #7F7F7F;
}

/* sets size and centering of container containing read-more link to
featured article */
section .read-more-featured {
    text-align: center;
    padding: 10px 0;
}

/* styles read-more link to featured article */
section .read-more-featured a {
    display: block;
    color: #050505;
    font-size: .8rem;
}

section .read-more-featured a:hover {
    color: #7F7F7F;
}

/* date at end of an article */
section .end-of-article {
    text-align: center;
    color: #7F7F7F;
    font-size: .8rem;
    margin-bottom: 20px;
}

/* style for link at end of article */
section .end-of-article a {
    color: #454545;
}



/* aligns part of section about the Transneptunians center */
#tnp-short-links {
    text-align: center;
    padding: 20px 0;
}

/* styles header for transneptunian planets' short links */
#tnp-short-links h2 {
    margin-bottom: 10px;
    font-size: 1.85rem;
    color: #050505;
    font-weight: 100;
}

/* adds padding around the TNP short links */
#tnp-short-links #planets-links-section {
    padding: 30px 0;
}

#planets-links-section a {
    color: #050505;
}

#planets-links-section a:hover {
    color: #7F7F7F;
}

#tnp-short-links p {
    color: #7F7F7F;
    font-size: .93rem;
    line-height: 1.6;
}



/* sets the size for the container that holds all the image links to
the TransNeptunian Planet articles */
#tnp-articles {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.tnp-article-container {
    width: 47%;
    text-align: center;
    margin: 20px 15px;
}

.tnp-article-container a img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 330px;
    object-fit: cover;
}


/* fixes image positions of the tnp articles */
#img-cupido {
    object-position: 0 30%;
}

#img-hades {
    object-position: 0 30%;
}

#img-zeus {
    object-position: 30% 0;
}


/* sets padding and typography for details of tnp articles */
.article-description {
    margin: 15px 0 0 0;
}

.tnp-article-container a {
    color: #050505;
}

.tnp-article-container a:hover {
    color: #7F7F7F;
}

.tnp-article-date {
    display: block;
    color: #7F7F7F;
    font-size: .75rem;
    padding: 5px;
}




/*
5. SIDEBAR
--------------------------------------*/



/* sets size and positioning within container for sidebar */
aside {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    position: relative;
    text-align: center;
    padding-left: 45px;
}

/* sets size, positioning for items, border, and opacity of div */
#aside-search-bar-general {
    margin: 60px 0 0 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #7F7F7F;
    padding: 16px 18px;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: .6;
}

/* allows search bar div to be dynamic when hovered */
#aside-search-bar-general:hover {
    cursor: text;
    opacity: 1;
}

/* adds padding to place search icon properly in search div */
aside .fa-search {
    padding-right: 10px;
}

/* sets the size, border, and typography of the search bar */
.aside-search {
    border: none;
    font-size: 1rem;
    width: 100%;
}



/* sets the positioning of the aside header text */
aside h5 {
    margin-top: 30px;
}


/* modifies horizontal-rule class from earlier */
.aside-hr {
    padding: 10px 0;
    opacity: .3;
}


/* aligns text for aside email container, and spacing */
#aside-email-btn {
    text-align: start;
    margin-top: 25px;
}

/* styles the size, color, and placement of words in the
aside email text bar */
.aside-text-bar {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0 25px 0;
    padding: 10px 0;
    background-color: rgba(240, 240, 240, 0.4);
    border: 1px solid rgba(127, 127, 127, .4);
    text-indent: 10px;
}

/* sets the styles for the aside email text bar when focused */
.aside-text-bar:focus {
    background-color: white;
    outline: none;
}

/* styles button for aside email div */
#aside-email-btn button {
    text-align: center;
    background-color: #272727;
    border: none;
    border-radius: 1px;
    color: white;
    text-transform: uppercase;
    padding: 12px 35px;
    margin: 0 22%;
}

#aside-email-btn button:hover {
    transition-duration: .2s;
    opacity: .8;
    cursor: pointer;
}



/* positions rss feed div */
#aside-rss-feed {
    padding: 40px 0px;
    text-align: start;
}

/* colors rss feed link */
#aside-rss-feed a {
    text-decoration: none;
    color: #050505;
}

#aside-rss-feed a:hover {
    opacity: .8;
}


/* sets aside img wrapper size */
aside #sidebar-img {
    width: 100%;
}

/* sets aside img size */
#sidebar-img img {
    width: 100%;
    object-fit: cover;
}


/* sets size of aside paragraph's container */
#aside-p {
    width: 100%;
}

/* sets positioning and typography of aside paragraphs */
#aside-p p {
    margin-top: 30px;
    color: #7F7F7F;
    font-size: .965rem;
    letter-spacing: 0;
    line-height: 1.6;
}

/* had to make font size of specific paragraph smaller
so vertical flow can be proper */
#aside-p #start-p {
    font-size: .91rem;
}

/* colors aside paragraph links */
#aside-p a {
    color: #454545;
}




/*
6. FOOTER   
--------------------------------------*/



footer {
    width: 100%;
    height: 200px;
    text-align: center;
}

.footer-hr {
    margin-top: 80px;
}

#footer-media {
    margin: 10px 0 35px 0;
}

/* changes spacing between social media symbols */
#footer-media a {
    padding: 5px;
}

/* causes all social media icons to gain opacity when 
anyone of them are hovered over */
#footer-media:hover > a {
    opacity: 0.5;
    transition-duration: .3s;
}

/* causes specific social media icon that is hovered over 
to lose all opacity and return to it's normal color */
#footer-media:hover > a:hover {
    opacity: 1.0;
    transition-duration: .3s;
}



#footer-nav {
    margin-bottom: 90px;
}

#footer-nav a {
    color: #050505;
    font-weight: 600;
    font-size: .9rem;
}




/*
7. MEDIA QUERIES
--------------------------------------*/



@media(max-width: 1305px) {

    header {
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
    }

    #social-media-header {
        right: 25px;
    }

}